<h1>These Are Your Kittens!</h1>

<ul>
<% @kittens.each do |kitten| %>
  <li><%= link_to kitten.name, kitten_path(kitten) %>, (age <%= kitten.age %>) </li>
<% end %>
</ul>

<%= link_to 'Add a Kitten', new_kitten_path %>