<%= render 'kitten' %>

<div>
  <%= link_to "Edit this kitten", edit_kitten_path(@kitten) %>
  <%= link_to "Back to Main", root_path %>

  <%= link_to "Delete this Kitten", destroy_kitten_path(@kitten) %>
</div>


